.displayItems {
  font-size: large;
  padding: 10px;
  color: brown;
  text-align: center;
  margin: 5px;
  width: 30px;
  height: 30px;
  border: 2px solid goldenrod;
}
.grid {
  margin: 50px 150px 50px 150px;
  background-color: bisque;
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr;
  justify-content: center;
  border: 2px solid goldenrod;
}
